{% extends 'base.html.twig' %}

{% block title %}Kodama's Kitchen{% endblock %}

{% block body %}

    <div class="row">
        <div class="accueil container-fluid text-center">
            {% include 'navbar.html.twig' %}

            <div class="row mt-5 items-center justify-content-center text-white">
                <h1 class="mt-5">BIENVENUE CHEZ KODAMA'S KITCHEN</h1>
                <p class="mt-4">un voyage culinaire magique inspiré des mondes de Ghibli</p>
                <btn class="btn rounded-5 bg-white pb-2 mt-4 col-1">Voir nos catégories</btn>
            </div>
        </div>

        <div class="accueil2 container text-center ">

        </div>

    </div>

{% endblock %}