{% extends 'base.html.twig' %}

{% block title %}Kodama's Kitchen{% endblock %}

{% block body %}

<div class="accueil d-flex flex-column">

    {% include 'navbar.html.twig' %}

    <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center text-center text-white px-3">
        <h1 class="display-4 display-md-3">BIENVENUE CHEZ <br>KODAMA'S KITCHEN</h1>
        <p class="lead my-3">Un voyage culinaire magique inspiré des mondes de Ghibli</p>
        <button class="btn btn-light rounded-5 py-2 px-4 mt-4">Voir nos catégories</button>
    </div>

</div>

<div class="accueil2">

</div>

{% endblock %}
