body {
    color: white;
    font-family: 'Delius', sans-serif;
    margin: 0;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.7) !important;
    color: #442B19 !important;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: #442B19 !important;
}

.accueil1, .accueil2, .carte, .contact-page, .details-page, .login-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    opacity: 0.9;
}

